<!DOCTYPE html>
<html>
<head>
<title>Messagebox template</title>
<link rel="stylesheet" href="../global.css">
<link rel="stylesheet" href="../info.css">
<link rel="icon" type="image/x-icon" href="../assets/favicon.png">
</head>
<body>
<!--Header starts here-->
<header>
  <table class="header-table">
    <tr>
      <td class="header-logo"><a href="../index.html"><img src="../assets/wiki-logo-banner.png" class="banner-logo"></a></td>
      <td class="header-search">
        <form onSubmit="event.preventDefault();">
          <input type="text" placeholder="Coming Soon">
          <button type="submit">Search</button>
        </form>
      </td>
      <td class="header-donate">
        <a href="https://www.paypal.com/donate?token=ShOcRTTbvxwcFfeWhm3u2NXwlPt9-1gKqr5wTde4TSTctyP6dYNC-cSfdg_4lPsMdO0DMWhfNMlA75cR">Donate</a>
      </td>
    </tr>
  </table>
</header>
<!--Header ends here-->
<table class="nokillbox">
  <tr>
  <th>
  <img src="../assets/spheratu.gif">
  </th>
  <td>
    This character is <b>unable to be killed under any circumstances</b>.
  </td>
  </tr>
</table>

<p>
 This messagebox is used for Nosferatu, every other character can be killed.
</p>

<table class="lackingbox">
  <tr>
  <th>
  <img src="../assets/messagebox/lacking.png">
  </th>
  <td>
    The subject of this article is lacking a good image. You can help by creating one.
  </td>
  </tr>
</table>

<p>
  Use this messagebox on pages which don't have a good image for their infobox.
</p>

<table class="wipbox">
  <tr>
  <th>
  <img src="../assets/messagebox/wip.png">
  </th>
  <td>
    This article is a work-in-progress. It may appear unfinished, or be missing information.
  </td>
  </tr>
</table>

<p>
  Use this messagebox for articles which you are <b>actively</b> working on.
</p>

<table class="updatebox">
  <tr>
  <th>
  <img src="../assets/messagebox/update.jpg">
  </th>
  <td>
    This article has not been updated since <b>chapter x</b>, and important information is either outdated or missing.<br>
    You can help by updating the article.<br>
    <i>
      Relevant chapter(s):<br>
      - Chapter y
      <br>
      - Chapter z
    </i>
  </td>
  </tr>
</table>

<p>
  Use this messagebox for articles which are not up-to-date with story developments. 
</p>

<table class="improvebox">
  <tr>
  <th>
  <img src="../assets/messagebox/improve.png">
  </th>
  <td>
    Sections of this article could use improvement.<br>
    <i>
      Relevant section(s):<br>
      - I think the section about the cucking scene should have better phrasing.
      <br>
      - More detail in the explanation of Chase Oliver's "funny money" policy.
    </i>
  </td>
  </tr>
</table>

<p>
Use this messagebox to indicate specific sections of an article that could use improvement.
</p>


<div class="content">



</div>
</body>
</html>