<!DOCTYPE html>
<style>
  .reviews {
    width: 50%;
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 10px;
}
</style>
<html>
<head>
<title>Harry Reid International Airport</title>
<link rel="stylesheet" href="../../global.css">
<link rel="stylesheet" href="../../info.css">
<link rel="icon" type="image/x-icon" href="../../assets/favicon.png">
</head>
<body>
<!--Header starts here-->
<header>
  <table class="header-table">
    <tr>
      <td class="header-logo"><a href="../../index.html"><img src="../../assets/wiki-logo-banner.png" class="banner-logo"></a></td>
      <td class="header-search">
        <form id="search-form">
          <input type="text" id="search-input">
          <button type="submit">Search</button>
        </form>
      </td>
      <td class="header-donate">
        <a href="https://www.paypal.com/donate?token=ShOcRTTbvxwcFfeWhm3u2NXwlPt9-1gKqr5wTde4TSTctyP6dYNC-cSfdg_4lPsMdO0DMWhfNMlA75cR">Donate</a>
      </td>
    </tr>
  </table>
</header>
<!--Header ends here-->

<div class="content">
<!--infobox-->
<table class="infobox">
<!--Name-->
<tr>
    <th colspan="2" class="infoname">Harry Reid International Airport</th>
</tr>
<!--Image-->
<tr>
    <th colspan="2"><img src="../../assets/example/harryreidEXAMPLE.jpg" style="width: 200px;"></th>
</tr>
<tr>
  <td colspan="2" style="text-align: center; color:#414141;"><i>The bathroom of Harry Reid International Airport, as seen in '<a href="https://youtu.be/rXauh1L5z1Q">Hello Richard</a>.'</i></td>
</tr>
<!--Location-->
<tr>
    <th class="infoth">Location:</th>
    <td class="infotd">Las Vegas</td>
</tr>
<!--Status-->
<tr>
    <th class="infoth">Status:</th>
    <td class="infotd"><span style="color: #365381;">Flooded</span></td>
</tr>
<!--Introduced-->
<tr>
    <th class="infoth">Introduced:</th>
    <td class="infotd"><a href="yeah">Chapter 15</a></td>
</tr>
<!--Introduced-->
<tr>
    <th class="infoth">Last seen:</th>
    <td class="infotd"><a href="yeah">Chapter 22</a></td>
</tr>
<!--From-->
<tr>
    <th class="infoth">From:</th>
    <td class="infotd">Real life</td>
</tr>
</table>
<br>
<table class="nokillbox">
  <tr>
  <th>
  <img src="../../assets/spheratu.gif">
  </th>
  <td>
    This character is <b>unable to be killed under any circumstances</b>.
  </td>
  </tr>
</table>

</body>
</html>