<!DOCTYPE html>
<style>
  .reviews {
    width: 50%;
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 10px;
}
</style>
<html>
<head>
<title>Luigi Mangione</title>
<link rel="stylesheet" href="../../global.css">
<link rel="stylesheet" href="../../info.css">
<link rel="icon" type="image/x-icon" href="../../assets/favicon.png">
</head>
<body>
<!--Header starts here-->
<header>
  <table class="header-table">
    <tr>
      <td class="header-logo"><a href="../../index.html"><img src="../../assets/wiki-logo-banner.png" class="banner-logo"></a></td>
      <td class="header-search">
        <form onSubmit="event.preventDefault();">
          <input type="text" placeholder="Coming Soon">
          <button type="submit">Search</button>
        </form>
      </td>
      <td class="header-donate">
        <a href="https://www.paypal.com/donate?token=ShOcRTTbvxwcFfeWhm3u2NXwlPt9-1gKqr5wTde4TSTctyP6dYNC-cSfdg_4lPsMdO0DMWhfNMlA75cR">Donate</a>
      </td>
    </tr>
  </table>
</header>
<!--Header ends here-->

<div class="content">
<!--infobox-->
<table class="infobox">
<!--Name-->
<tr>
    <th colspan="2" class="infoname">Luigi Mangione</th>
</tr>
<!--Image-->
<tr>
    <th colspan="2"><img src="../../assets/example/mangioneEXAMPLE.png" style="width: 200px;"></th>
</tr>
<tr>
  <td colspan="2" style="text-align: center; color:#414141;"><i>Luigi Mangione, at Manhattan state court in real life</i></td>
</tr>
<!--Faction-->
<tr>
    <th class="infoth">Faction:</th>
    <td class="infotd"><a href="resistance">Resistance</a></td>
</tr>
<!--Status-->
<tr>
    <th class="infoth">Status:</th>
    <td class="infotd"><span style="color: rgb(0, 107, 0);">Alive</span></td>
</tr>
<!--Location-->
<tr>
    <th class="infoth">Location:</th>
    <td class="infotd"><a href="yeah">The Vegas Hospital</a></td>
</tr>
<!--Introduced-->
<tr>
    <th class="infoth">Introduced:</th>
    <td class="infotd"><a href="yeah">Chapter 6</a></td>
</tr>
<!--Introduced-->
<tr>
    <th class="infoth">Last seen:</th>
    <td class="infotd"><a href="yeah">Chapter 19</a></td>
</tr>
<!--From-->
<tr>
    <th class="infoth">From:</th>
    <td class="infotd">Real life</td>
</tr>
</table>

<h1>Luigi Mangione</h1>
<hr>
            <div class="reviews">
                <blockquote cite="Red Herring">
                    "the Red Savior marks the beginning of the end."
                </blockquote>
                <i> - Luigi Mangione, <a href="https://archiveofourown.org/works/64764898/chapters/166422895">Rumination</i></a><br>
            </div>
<p>
Luigi Mangione is a member of <a href="rewsdio">The Resistance</a>. His family is said to be very important, being one of the founding
families of The Resistance. While in real life he's best known for being the main suspect in the assassination of
<a href="https://en.wikipedia.org/wiki/Killing_of_Brian_Thompson">United Healthcare CEO Brian Thompson</a>, the fanfic states that he never
killed Brian, and simply liked the attention.
</p>
<h2>Character relations</h2>
<hr>
<ul>
  <li>
      <a href="he">He</a> - Resistance ally, crush.
  </li>
</ul>

</div>
</body>
</html>