<!DOCTYPE html>
<style>
  .nickelodeon {
    background-color: #a12a2a;
    padding: 5px;
    color: white;
    border: outset salmon 2px;
  }
</style>
<html>
<head>
<title>Nosferatu</title>
<link rel="stylesheet" href="../../global.css">
<link rel="stylesheet" href="../../info.css">
<link rel="icon" type="image/x-icon" href="../../assets/favicon.png">
</head>
<body>
<!--Header starts here-->
<header>
  <table class="header-table">
    <tr>
      <td class="header-logo"><a href="../../index.html"><img src="../../assets/wiki-logo-banner.png" class="banner-logo"></a></td>
      <td class="header-search">
        <form id="search-form">
          <input type="text" id="search-input">
          <button type="submit">Search</button>
        </form>
      </td>
      <td class="header-donate">
        <a href="https://www.paypal.com/donate?token=ShOcRTTbvxwcFfeWhm3u2NXwlPt9-1gKqr5wTde4TSTctyP6dYNC-cSfdg_4lPsMdO0DMWhfNMlA75cR">Donate</a>
      </td>
    </tr>
  </table>
</header>
<!--Header ends here-->

<div class="content">
<!--infobox starts here-->
<table class="infobox">
<!--Name-->
<tr>
    <th colspan="2" class="infoname">Nosferatu</th>
</tr>
<!--Image-->
<tr>
    <th colspan="2"><img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Max_Schreck_as_Count_Orlok_in_Nosferatu_%E2%80%93_Eine_Symphonie_des_Grauens_%281922%29.jpg" style="width: 200px;"></th>
</tr>
<tr>
  <td colspan="2" style="text-align: center; color:#414141;"><i>Nosferatu, as seen in Nosferatu (1922)</i></td>
</tr>
<!--Faction-->
<tr>
    <th class="infoth">Faction:</th>
    <td class="infotd"><a href="resistance">Orlok's Administration</a></td>
</tr>
<!--Status-->
<tr>
    <th class="infoth">Status:</th>
    <td class="infotd"><span style="color: rgb(0, 107, 0);">Alive</span></td>
</tr>
<!--Location-->
<tr>
    <th class="infoth">Location:</th>
    <td class="infotd"><a href="yeah">The Krusty Krab</a></td>
</tr>
<!--Introduced-->
<tr>
    <th class="infoth">Introduced:</th>
    <td class="infotd"><a href="yeah">Chapter 1</a></td>
</tr>
<!--Introduced-->
<tr>
    <th class="infoth">Last seen:</th>
    <td class="infotd"><a href="yeah">Chapter 22</a></td>
</tr>
<!--From-->
<tr>
    <th class="infoth">From:</th>
    <td class="infotd">SpongeBob Squarepants</td>
</tr>
</table>
<!--Infobox ends here-->

<!--Main page content begins here-->
<h1>Nosferatu</h1>
<hr>
<!--Messagebox starts here-->
<table class="nokillbox">
  <tr>
  <th>
  <img src="../../assets/spheratu.gif">
  </th>
  <td>
    This character is <b>unable to be killed under any circumstances</b>.
  </td>
  </tr>
</table>
<!--Messagebox ends here-->

            <div class="reviews">
                <blockquote cite="Nosferatu">
                    "Under my jurisdiction, this country has seen no wars. It has seen no sorrow. I’ve been elected by the American people to
                    do the job of many, occupied by only... one."
                </blockquote>
                <i> - Nosferatu, <a href="https://archiveofourown.org/works/64764898/chapters/166420774">Train Crash!</a></i><br>
            </div>
<p>
Nosferatu, also known as Count Orlok, is the former President of The United States.
</p>
<h2>Character relations</h2>
<hr>
<ul>
  <li>
    <a href="">SpongeBob Squarepants</a> - Enemy turned Fry Cook, first met in Bikini Bottom (as explained by Nosferatu in chapter 9).
  </li>
</ul>
<h2>Evil Nosferatu</h2>
<hr>
Evil Nosferatu is a character who appeared very briefly in chapter 13 and then again in chapter 15. Is he like Nosferatu from the original
1922 movie or something

</div>
</body>
</html>