<!DOCTYPE html>
<html>
<head>
<title>Red Herring</title>
<link rel="stylesheet" href="../../global.css">
<link rel="stylesheet" href="../../info.css">
<link rel="icon" type="image/x-icon" href="../../assets/favicon.png">
</head>
<body>
<!--Header starts here-->
<header>
  <table class="header-table">
    <tr>
      <td class="header-logo"><a href="../../index.html"><img src="../../assets/wiki-logo-banner.png" class="banner-logo"></a></td>
      <td class="header-search">
        <form onSubmit="event.preventDefault();">
          <input type="text" placeholder="Coming Soon">
          <button type="submit">Search</button>
        </form>
      </td>
      <td class="header-donate">
        <a href="https://www.paypal.com/donate?token=ShOcRTTbvxwcFfeWhm3u2NXwlPt9-1gKqr5wTde4TSTctyP6dYNC-cSfdg_4lPsMdO0DMWhfNMlA75cR">Donate</a>
      </td>
    </tr>
  </table>
</header>
<!--Header ends here-->

<div class="content">
<!--infobox-->
<table class="infobox">
<!--Name-->
<tr>
    <th colspan="2" class="infoname">Red Herring</th>
</tr>
<!--Image-->
<tr>
    <th colspan="2"><img src="../../assets/example/redEXAMPLE.jpg" style="width: 200px;"></th>
</tr>
<tr>
  <td colspan="2" style="text-align: center; color:#414141;"><i>Red Herring, drawn by CM14</i></td>
</tr>
<!--Faction-->
<tr>
    <th class="infoth">Faction:</th>
    <td class="infotd"><a href="resistance">Resistance</a></td>
</tr>
<!--Status-->
<tr>
    <th class="infoth">Status:</th>
    <td class="infotd"><span style="color: rgb(0, 107, 0);">Alive</span></td>
</tr>
<!--Location-->
<tr>
    <th class="infoth">Location:</th>
    <td class="infotd"><a href="yeah">The Vegas Hospital</a></td>
</tr>
<!--Introduced-->
<tr>
    <th class="infoth">Introduced:</th>
    <td class="infotd"><a href="yeah">Chapter 1</a></td>
</tr>
<!--Introduced-->
<tr>
    <th class="infoth">Last seen:</th>
    <td class="infotd"><a href="yeah">Chapter 20</a></td>
</tr>
<!--From-->
<tr>
    <th class="infoth">From:</th>
    <td class="infotd">Original</td>
</tr>
</table>

<h1>Red Herring</h1>
<hr>
            <div class="reviews">
                <blockquote cite="Red Herring">
                    "I don’t fucking care. I’m…not exactly the hero you want, guys."
                </blockquote>
                <i> - Red Herring, <a href="https://archiveofourown.org/works/64764898/chapters/166420774">I'm About To Get In The Shower</a></i><br>
            </div>
<p>
Red Herring, also known as The Red Savior, is a member of <a href="rewsdio">The Resistance</a>. He is regarded by The Resistance as a savior,
having first been seen exiting <a href="evfn,xc">The Grey House</a>.
</p>
<h2>Character relations</h2>
<hr>
<ul>
  <li>
    <a href="">Cabinetman 1</a> - Enemy, first met in The Grey House in Chapter 1.
  </li>
  <li>
    <a href="">Coach</a> - Resistance ally, first met at Jersey Mike's in Chapter 1.
  </li>
</ul>

<!--<h3>Categories</h3>
<a href="nya">Living characters</a>, <a href="nya">original characters</a>, <a href="nya">important Resistance members</a>-->

</div>
</body>
</html>